.lohotron {
  text-align: center;
  z-index: 15;
}

.lohotron-btn {
  user-select: none;
  color: brown;
  text-transform: uppercase;
  font-size: 26px;
  cursor: pointer;
}
.lohotron-number-wrapper {
  margin: 15px auto;
  justify-content: center;
  align-items: center;
  border: 2px solid brown;
  display: flex;
  width: 70px;
  height: 70px;
  z-index: 5;
  border-radius: 50%;
}
.lohotron-number-wrapper div {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
}