.window-big {
  width: 85%;
  height: 85%;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
}
.window-header {
  text-align: center;
  height: 20%;
  margin-bottom: 15px;
}
.window-controls-bottom {
  position: absolute;
  bottom: 40px;
}
.window-body {
  position: relative;
  height: 70%;
}
.lottery-header {
  cursor: pointer;
  user-select: none;
  animation: header .2s 3;
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.tickets-row {
  position: absolute;
  width: 100%;
  bottom: 35%;
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}
.window-footer {
  height: 10%;
  text-align: center;
  color: gray;
}

@media only screen and (max-width: 576px) {
  .tickets-row {
    flex-direction: column;
    position: relative;
  }
  .window-big {
    height: auto;
  }
  .tickets-row > div {
    margin-bottom: 15px;
  }
  .window-controls-bottom {
    position: relative;
    bottom: 0;
    margin-top: 20px;
  }
  .window-footer {
    display: none;
  }
}

@keyframes header {
  0% {transform: rotate(0deg)}
  50% {transform: rotate(5deg)}
  100% {transform: rotate(-5deg)}
}