.ticket {
  background-color: rgb(226, 198, 39);
  height: 100px;
  width: 250px;
  border-radius: 6px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .17);
  padding: 26px 0;
  user-select: none;
}
.ticket-content {
  align-items: center;
  justify-content: center;
  height: 100%;
  border-top: 2px dotted white;
  border-bottom: 2px dotted white;
}
.ticket-number {
  margin-top: 5px;
  text-align: center;
  font-size: 36px;
  min-height: 50px;
  color: white;
}
.ticket-btn {
  color: brown;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
.ticket-win {
  box-shadow: 0 0 25px 5px red;
}

@media only screen and (max-width: 576px) {
  .ticket {
    width: 100%;
  }
}